<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="actor2" class="com.stackroute.domain.Actors">
        <constructor-arg name="name" value="Sharukh khan" index="0" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" index="1" type="java.lang.String"/>
        <constructor-arg name="age" value="50" index="2" type="int"/>
    </bean>
    <bean id="movie2" class="com.stackroute.domain.Movie">
        <constructor-arg  ref="actor2"/>
    </bean>
    <bean id="actor3" class="com.stackroute.domain.Actors">
        <constructor-arg name="name" value="Siddharth malhotra" index="0" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" index="1" type="java.lang.String"/>
        <constructor-arg name="age" value="30" index="2" type="int"/>
    </bean>
    <bean id="movie3" class="com.stackroute.domain.Movie">
        <constructor-arg  ref="actor3"/>
    </bean>
    <bean id="actor4" class="com.stackroute.domain.Actors">
        <constructor-arg name="name" value="Siddharth malhotra" index="0" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" index="1" type="java.lang.String"/>
        <constructor-arg name="age" value="30" index="2" type="int"/>
    </bean>
    <bean name="movie4,movie5" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg  ref="actor4"/>
    </bean>
</beans>
